<!DOCTYPE html>

<html lang="en">
    <body th:fragment="bodyHeader">
        <div class="containter navbar">
            <div class="container cisis">
                <img style="vertical-align: bottum; float:left " th:src="@{/resources/images/logoHeader.png}" 
                     src="../../../resources/images/logoHeader.png" /><h1>HC-CIS<small>&nbsp;Project Riptide</small></h1>
            </div>
            <div class="navbar-inner" >
                <div>&nbsp;</div>
                <ul class="nav">
                    <a href="/" th:href="@{/}" class="headerLink"><li class="glyphicon glyphicon-home">&nbsp;Home</li></a>&nbsp;&nbsp;
                    <span th:if="${incidentID != null}">
                        <a href="/person" th:href="@{/person}" class="headerLink"><li class="glyphicon glyphicon-plus">&nbsp;Add Person</li></a>
                        &nbsp;&nbsp;
                        <a href="/vehicle" th:href="@{/vehicle}" class="headerLink"><li class="glyphicon glyphicon-plus">&nbsp;Add Vehicle</li></a>
                        &nbsp;&nbsp;
                        <a href="/property" th:href="@{/property}" class="headerLink"><li class="glyphicon glyphicon-plus">&nbsp;Add Property</li></a>
                        &nbsp;&nbsp;
                        <a href="/files" th:href="@{/files}" class="headerLink"><li class="glyphicon glyphicon-plus">&nbsp;Documents</li></a>
                    </span>
                </ul>
                
                <a href="/logout" th:href="@{/logout}" class="logout">Logout</a>
            </div>
        </div>
    </body>

</html>
<!--                    <li class="dropdown" id="menuResources">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#menuResources">
                            <span class="glyphicon glyphicon-th-list"></span>&nbsp;Tools
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/" th:href="@{/}"><i class="icon-th-list"></i>Home</a></li>
                            <li><a href="/incidentReport" th:href="@{/incidentReport}"><i class="icon-th-list"></i>Add Incident</a></li> 
                            <li><a href="/person" th:href="@{/person}"><i class="icon-th-list"></i>Person page</a></li> 
                            <li><a href="/vehicle" th:href="@{/vehicle}"><i class="icon-th-list"></i>Vehicle page</a></li>  
                            <li><a href="/files" th:href="@{/files}"><i class="icon-th-list"></i>Documents</a></li>
                        </ul>
                    </li>-->