/* Styles for the Person page*/
.personTable {
    width: 100%;

}

.personTable th {
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#lastTH {
    border-right: none;
}

#tableDiv {
    height:200px;
    background-color: #FCF8F7;
    padding: 10px;
    border-radius: 15px;
    margin-left: 7%;
    overflow: auto;
    margin-bottom: 5%;
}

#playerButtons {
    height: 200px;
}

#addButton {
    width: 100%;
    height: 50%;
    padding-top: 20%;
}

#deleteButton {
    width: 100%;
    height: 50%;
    padding-top: 10%;
}

#personTypeBox {
    height: 200px;
    background-color: #FCF8F7;
    margin-right: 1%;
    border-radius: 15px;
    padding-top: 1%;
}

#personTypeBox input {
    margin: 5px;
}

#province {
    width: 80px;
}

.left-margin {
    margin-left: 2%;    
}

#dateButton {
    margin-left: 5px;
}

#personTraits {
    height: 100px;
}

#splitTraits {
    height: 50px;

}

.smallText {
    width: 100px;
}

.fieldError {   
    border: 1px solid red !important;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(240,22,22,1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(240,22,22,1);
    box-shadow: 0px 2px 12px 0px rgba(240,22,22,1) !important;
}

.red {
    color: red !important;
    font-weight: bold;
}

#deleteLink {
    margin-left: 40px;
    width: 130px;
}