/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Dec 1, 2016, 2:02:51 PM
    Author     : nmader
*/
/* Styles for the Property page*/
.propertyTable {
    width: 100%;

}

.propertyTable th {
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

#tableDiv {
    height:200px;
    background-color: #FCF8F7;
    padding: 10px;
    border-radius: 15px;
    margin-left: 7%;
    overflow: auto;
    margin-bottom: 5%;
}

#propertyButtons {
    height: 200px;
}

#addButton {
    width: 100%;
    height: 50%;
    padding-top: 20%;
}

#deleteButton {
    width: 100%;
    height: 50%;
    padding-top: 10%;
}

#propertyTypeBox {
    height: 200px;
    background-color: #FCF8F7;
    margin-right: 1%;
    border-radius: 15px;
    padding-top: 1%; 
}

#propertyTypeBox input {
    margin: 5px;
}


.left-margin {
    margin-left: 2%;    
}

#dateButton {
    margin-left: 5px;
}

#dateBox {
    width: 100px;
}

#propertyTraits {
    height: 100px;
}

#splitTraits {
    height: 50px;

}

.smallText {
    width: 100px;
}

.fieldError {   
    border: 1px solid red !important;
    -webkit-box-shadow: 0px 2px 12px 0px rgba(240,22,22,1);
    -moz-box-shadow: 0px 2px 12px 0px rgba(240,22,22,1);
    box-shadow: 0px 2px 12px 0px rgba(240,22,22,1) !important;
}

.red {
    color: red !important;
    font-weight: bold;
}