/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 3, 2016, 2:00:03 PM
    Author: pfouchere
    Purpose: Various CSS stuff for use on the vehicle page.
*/

#vehicleTableDiv {
    height:200px;
    background-color: #FCF8F7;
    overflow: auto;
    border-radius: 15px;
}
#topContent{
    margin:auto;
    width:85%;
    border-radius:15px;
}

.contentBlock{
    margin:auto;
    padding: 10px;
    width:70%;
    border: 1px solid lightgray;
    border-radius:15px;
}
#buttonDiv {
    height: 200px;
}

#addButton {
    height: 100px;
    margin: 0px;
}

#delButton {
    height: 100px;
}

.stripped{
    margin-top: 12%;
}

.stripped input{
    margin-bottom: 5px;
    margin-left: 5px;
}
select{
    width:80px;
}
#tag{
    width:80px;
}

#vin input{
    width:84%;
}

#license{
    padding-left:4.3%;
}
#model input{
    width:50%;
}


#comment input{
    width: 80%
}
.contentBlock{
    margin-top: 1%;
}

#regOwner input{
    width:50%
}
#towed input{
    margin-bottom: 5px;
    margin-left: 5px;
}
.leftSideButton{
    padding-left:18.3%;
}
#stolen input, #recovered input, #stored input, #impounded input, #leftAtScene input,#released input{
    margin-bottom: 5px;
    margin-left: 5px;
}

#deleteVehicleLink {
    margin-left: 12%;
    width: 144px;
}

#tag{
    width: 50%;
    margin-top: 5px;
}

#saveButton{
    text-align: center;
    width :150px;
}