<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container">            
            <div><h2>Incident Report</h2></div>
            <form th:object="${incident}" action="notused.html" th:action="@{/incidentAddSubmit}" method="get" class="form-horizontal">
              <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <span>
                                    Incident # <input type="text" th:field="${incident.incidentNum}" name="incidentNumber" disabled="true" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    Offense: 
                                    <select name="incidentType" th:field="${incident.incidentType}">
                                        <option value=""></option>
                                        <option th:each="offense: ${codeValues}" th:value="${offense.englishDescription}" th:text="${offense.englishDescription}">test</option>
                                    </select>
                                </span>
                                <span>
                                    Attempted: <input type="checkbox" th:field="${incident.isAttempted}" name="isAttempted" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <strong>Date Range: </strong>
                                    <input type="date" name="startDate" th:field="${incident.startDate}" value=""/>
                                    <ul th:if="${#fields.hasErrors('startDate')}">
                                    <li class="error" th:each="err : ${#fields.errors('startDate')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                </span>
                                To: 
                                <span>
                                    <input type="date" name="endDate" th:field="${incident.endDate}" value=""/>
                                    <ul th:if="${#fields.hasErrors('endDate')}">
                                    <li class="error" th:each="err : ${#fields.errors('endDate')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                </span>
                                <span>
                                    <strong>Time Range: </strong>
                                    <input type="time" name="startTime" th:field="${incident.startTime}" value=""/>
                                    <ul th:if="${#fields.hasErrors('startTime')}">
                                    <li class="error" th:each="err : ${#fields.errors('startTime')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                </span>
                                To: 
                                <span>
                                    <input type="time" name="endTime" th:field="${incident.endTime}" value=""/>
                                    <ul th:if="${#fields.hasErrors('endTime')}">
                                    <li class="error" th:each="err : ${#fields.errors('endTime')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    Location: <textarea name="location" th:field="${incident.location}" ></textarea>
                                    <ul th:if="${#fields.hasErrors('location')}">
                                    <li class="error" th:each="err : ${#fields.errors('location')}" th:text="${err}">Input is incorrect</li>
                                </ul>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Additional Offenses:<br /> 
                                <div >
                                    <!--uses code values-->
                                    <span th:each="extra: ${extras}">
                                        <input type="checkbox" th:name="extras" th:value="${extra.englishDescription}" />
                                        <span class="extras" th:text="${extra.englishDescription}">
                                            Text
                                        </span>
                                    </span>
                                </div>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    Officer: <input type="text" name="officer" th:field="${incident.officer}" />
                                </span>
                            </td>
                        </tr>
                    </table>
                  <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
              </fieldset>
            </form>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
