<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/headTag :: headTag">
        <title>Project Riptide</title>
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <h1 class="text-center">Incident Monitoring System</h1>
            </div>
            <div class="row">
                <h3 class="text-center">Officer Login</h3>
            </div>
            <div class="loginBox center-block">
                <form th:object="${user}" action="/authenticate" th:action="@{/authenticate}" method="post">
                    <div class="form-group">
                        <label for="id">Officer ID: </label>
                        <input type="text" th:field="*{username}" name="officerId"/>
                    </div>
                    <div class="form-group">
                        <label for="password">Password: </label>
                        <input type="text" name="password"  th:field="*{password}"/>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-danger center-block" value="Login"/>
                    </div>
                </form>
                <p id="loginError" th:text="${message}" class="error text-center"></p>
            </div>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
