<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container">            
            <div><h2>Edit Incident</h2></div>
            <form th:object="${incident}" action="notused.html" th:action="@{/incidentAddSubmit}" method="get" class="form-horizontal">
              <fieldset>
                    <table class="table table-striped">
                        <tr>
                            <td>
                                <span>
                                    Incident # <input type="text" th:field="${incident.incidentNum}" name="incidentNumber" disabled="true" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    Offense: 
                                    <select name="incidentType" th:field="${incident.incidentType}">
                                        <option value=""></option>
                                        <option th:each="offense: ${codeValues}" th:value="${offense.englishDescription}" th:text="${offense.englishDescription}">test</option>
                                    </select>
                                </span>
                                <span>
                                    Attempted: <input type="checkbox" th:field="${incident.isAttempted}" name="isAttempted" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    <strong>Date Range: </strong>
                                    <input type="date" name="startDate" th:field="${incident.startDate}" />
                                </span>
                                To: 
                                <span>
                                    <input type="date" name="endDate" th:field="${incident.endDate}" />
                                </span>
                                <span>
                                    <strong>Time Range: </strong>
                                    <input type="time" name="startTime" th:field="${incident.startTime}" />
                                </span>
                                To: 
                                <span>
                                    <input type="time" name="endTime" th:field="${incident.endTime}" />
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    Location: <textarea name="location" th:field="${incident.location}" ></textarea>
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>Additional Offenses:<br /> 
                                <!--<div>-->
                                    <span class="extras">Domestic Violence <input type="checkbox" name="domesticViolence" /></span>
                                    <span class="extras">Gang Related <input type="checkbox" name="gangRelated" /></span>
                                    <span class="extras">Force Used <input type="checkbox" name="forceUsed" /></span>
                                    <span class="extras">Press Release <input type="checkbox" name="pressRelease" /></span>
                                    <span class="extras">Vic. Senior Citizen <input type="checkbox" name="seniorCitizen" /></span>
                                    <span class="extras">Hate Crime <input type="checkbox" name="hateCrime" /></span>
                                    <span class="extras">Pursuit <input type="checkbox" name="pursuit" /></span>
                                    <span class="extras">Child Abuse <input type="checkbox" name="childAbuse" /></span>
                                <!--</div>-->
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span>
                                    Officer: <input type="text" name="officer" th:field="${incident.officer}" />
                                </span>
                            </td>
                        </tr>
                    </table>
                  <div style="text-align: left;" class="form-actions">
                        <button class="btn btn-primary btn-lg" type="submit">Save</button>
                    </div>
              </fieldset>
            </form>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>
