<!--This html page will be used to display the existing incidents. --> 
<html>
    <head th:replace="fragments/headTag :: headTag">
    </head>
    <body>
        <div class="container navbar" >
            <div th:include="fragments/bodyHeader" th:remove="tag">
            </div>
        </div>
        <div class="container">            
            <div style='text-align: center'>
                <div>
                    <h2>Registered Incidents
                    <a class="btn btn-primary btn-lg" href="/addIncident" th:href="@{/addIncident}" th:text="Add"></a>
                    </h2>
                </div>
                <div>
                    <table class="table table-striped" style="border: 1px solid black; width: 800px; margin: auto">
                        <thead>
                        <tr>
                            <th style="width: 80px;">Incident No.</th>
                            <th style="width: 80px;">Incident Type</th>
                            <th style="width: 80px;">Date</th>
                            <th style="width: 80px;">Officer</th>
                            <th style="width: 80px;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="incident : ${incidents}">
                            <td th:text="${incident.incidentNum}"></td>
                            <td th:text="${incident.incidentType}"></td>
                            <td th:text="${incident.dateCreated}"></td>
                            <td th:text="${incident.officer}"></td>
                            <td>
<!--                                <form action="notused.html" th:action="@{/redirect}" method="get" class="form-horizontal">
                                    <select th:name="choice">
                                        <option class="actionDropdown" th:value="1">Edit Incident</option>
                                        <option class="actionDropdown" th:value="2">Add Person</option>
                                        <option class="actionDropdown" th:value="3">Add Property</option>
                                        <option class="actionDropdown" th:value="4">Add Vehicle</option>
                                    </select>
                                    <button class="btn btn-primary btn-sm" type="submit" th:text="Go">Go</button>
                                </form>-->
<!--                                <ul>
                                    <li>-->
                                        <a th:href="@{/incidentShow.html?id=} +${incident.incidentNum}">Edit Incident</a>
                                    <!--</li>
                                    <li>
                                        <a th:href="@{/person.html?id=} +${incident.incidentNum}">Add Person</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/vehicle.html?id=} +${incident.incidentNum}">Add Vehicle</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/property.html?id=} +${incident.incidentNum}">Add Property</a>
                                    </li>
                                </ul>-->
                            </td>
                        </tr>
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="container">
            <div th:include="fragments/footer" th:remove="tag">
            </div>
        </div>
    </body>
</html>