<!DOCTYPE html>
<html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head th:replace="fragments/headTag :: headTag">                
        </head>
        <body>
            <!-- Header Navigation bar -->
            <div class="container navbar" >
                <div th:include="fragments/bodyHeader" th:remove="tag">
                </div>
            </div>
            <!-- Setup the form -->
            <form id="personForm" th:object="${person}" th:action="@{/person/add}" method="post">
                <div class="container-fluid">            
                    <div>
                        <h2 class="text-center" th:text="'Incident Number: ' + ${incidentID}"></h2>                        
                    </div>                      
                    <div class="row">
                        <div class="col-md-6" id="tableDiv">
                            <!-- The table which will pull the people attached to the incident stored in the session -->
                            <table class="table table-striped">
                                <tr>
                                    <th>DOB</th>
                                    <th>First Name</th>
                                    <th id="lastTH">Last Name</th>
                                </tr>
                                <tr th:if="${#lists.isEmpty(persons)}">                                  
                                    <td><strong><em>There are no people added to the incident</em></strong></td>
                                </tr>
                                <tr data-href="javascript:void(0);" th:each="person : ${persons}" class="personRow">                
                                    <td th:text="${person.dob}">Joe</td>
                                    <td th:text="${person.firstName}"></td>
                                    <td th:text="${person.lastName}"></td>
                                    <td style="display:none;" th:text="${person.personId}" th:id="personIdRow"></td>
                                </tr>
                            </table>
                        </div>
                        <!-- Hidden fields to pass data through the form -->
                        <input type="hidden" name="incidentNum" th:value="${incidentID}" id="incidentNum" />  
                        <input type="hidden" id="personId" th:field='*{personId}' />
                        <!-- Section of buttons for form functionality -->
                        <div class="col-md-2" id="playerButtons">
                            <div class="row" id="addButton">
                                <button type="button" class="btn btn-success center-block" id="add">Add New Person</button>
                            </div>
                            <div class="row" id="deleteButton">
                                <a class="btn btn-danger center-block" id="deleteLink">Delete</a>
                            </div>
                        </div>
                        <!-- The association of the person to the incident -->
                        <div class="col-md-2" id="personTypeBox">
                            <input type="radio" th:field="*{association}" th:value="victim" /> Victim <br/>
                            <input type="radio" th:field="*{association}" th:value="suspect" /> Suspect <br/>
                            <input type="radio" th:field="*{association}" th:value="reporting" /> Reporting Body <br/>
                            <input type="radio" th:field="*{association}" th:value="witness" /> Witness <br/>
                            <input type="radio" th:field="*{association}" th:value="other" /> Other <br/>  
                            <hr id="inputSplit" />
                            <input th:field="*{isLawEnforcement}" type="checkbox" id="lawEnforcement" th:errorclass="fieldError"/> Law Enforcement <br/>          
                        </div>
                    </div>
                    <!-- Name fields -->
                    <div class="row"  th:if="${#fields.hasAnyErrors()}">
                        <div class="col-md-3 col-md-offset-1">
                            <p th:class="red">There was a problem with form input</p>
                        </div>
                    </div>
                    <div class="row" id="nameFields">
                        <div class="col-md-3 col-md-offset-1">
                            <strong>First: </strong><input th:field="*{firstName}" type="text" id="firstName" th:errorclass="fieldError"/>
                        </div>
                        <div class="col-md-3">
                            <strong>Middle: </strong><input th:field="*{middleName}" type="text" id="middleName" th:errorclass="fieldError"/>
                        </div>
                        <div class="col-md-3">
                            <strong>Last: </strong><input th:field="*{lastName}" type="text" id="lastName" th:errorclass="fieldError"/>
                        </div>
                    </div>
                    <!-- Date, license, and Province -->
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">                        
                            <strong>Date: </strong><input th:field="*{dob}" type="date" id="dateBox"  th:errorclass="fieldError"/>                            
                        </div>
                        <div class="col-md-3">
                            <strong>License #: </strong><input th:field="*{licenseNum}" type="text" id="licenseNum"/>
                        </div>              
                        <div class="col-md-2">                  
                            <strong>Province: </strong><select th:field="*{province}" id="province">
                                <option th:value="PE">PE</option>
                                <option th:value="NB">NB</option>
                                <option th:value="NS">NS</option>
                                <option th:value="QC">QC</option>
                                <option th:value="ON">ON</option>
                                <option th:value="MB">MB</option>
                                <option th:value="SK">SK</option>
                                <option th:value="AL">AL</option>
                                <option th:value="BC">BC</option>
                                <option th:value="NL">NL</option>
                                <option th:value="NT">NT</option>
                                <option th:value="NU">NU</option>
                                <option th:value="YT">YT</option>
                            </select>
                        </div>
                    </div>
                    <!-- Address and phone info -->
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">                        
                            <strong>Address: </strong><input th:field="*{address}" type="text" id="address" th:errorclass="fieldError"/>
                        </div>
                        <div class="col-md-4">
                            <strong>Postal Code: </strong><input th:field="*{postalCode}" type="text" id="postalCode" th:errorclass="fieldError"/>
                        </div>                                    
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-offset-1">                        
                            <strong>Phone #: </strong><input th:field="*{phoneNum}" type="text" id="phone" th:errorclass="fieldError"/>
                        </div>
                        <div class="col-md-3">
                            <strong>Cell #: </strong><input th:field="*{alternateContact}" type="text" id="cellPhone" th:errorclass="fieldError"/>
                        </div>                                    
                    </div>
                    <!-- Person description details -->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-1" id="personTraits">
                            <div class="row" id="splitTraits">
                                <div class="col-md-4">
                                    <strong>Race: </strong><input th:field="*{race}" type="text" th:class="smallText" id="race"/>                                     
                                </div>
                                <div class="col-md-4">
                                    <strong>Height: </strong><input th:field="*{height}" type="text" th:class="smallText" id="height"/>                                     
                                </div>
                                <div class="col-md-4">
                                    <strong>Hair: </strong><input th:field="*{hairColor}" type="text" th:class="smallText" id="hair"/>                                     
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <strong>Sex: </strong><select  id="sex" th:Field="*{sex}">
                                        <option th:Value="male" th:text="Male">Male</option>
                                        <option th:Value="female" th:text="Female">Female</option>                                       
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <strong>Weight: </strong><input th:field="*{weight}" type="text" th:class="smallText" class="smallText" id="weight"/>                                     
                                </div>
                                <div class="col-md-4">
                                    <strong>Eye Color: </strong><input th:field="*{eyeColor}" type="text" th:class="smallText" class="smallText" id="eyeColor"/>                                     
                                </div>                            
                            </div>                           
                        </div>
                        <!-- Button to save the person -->
                        <div class="col-md-4">
                            <input type="submit" class="btn" th:value="Save" id="saveButton"/>
                        </div>
                    </div>
                </div>             
            </form>
            <!-- Footer -->
            <div class="container">
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </body>
    </html>
</html>