<!DOCTYPE html>
<html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head th:replace="fragments/headTag :: headTag">                
        </head>
        <body>
            <!-- Header Navigation bar -->
            <div class="container navbar" >
                <div th:include="fragments/bodyHeader" th:remove="tag">
                </div>
            </div>
            <!-- Setup the form -->
            <form id="propertyForm" th:object="${property}" th:action="@{/property/add}" method="post">
                <div class="container-fluid">            
                    <div>
                        <h2 class="text-center" th:text="'Incident Number: ' + ${incidentID}"></h2>                        
                    </div>                      
                    <div class="row">
                        <div class="col-md-6" id="tableDiv">
                            <!-- The table which will pull the properties attached to the incident stored in the session -->
                            <table class="table table-striped">
                                <tr>
                                    <th>Property ID</th>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                </tr>
                                <tr th:if="${#lists.isEmpty(properties)}">                                  
                                    <td><strong><em>There are no properties added to the incident</em></strong></td>
                                </tr>
                                <tr data-href="javascript:void(0);" th:each="property : ${properties}" class="propertyRow">                
                                    <td th:text="${property.propertyId}"></td>
                                    <td th:text="${property.description}"></td>
                                    <td th:text="${property.quantity}"></td>
                                    <td style="display:none;" th:text="${property.propertyId}" th:id="propertyIdRow"></td>
                                </tr>
                            </table>
                        </div>
                        <!-- Section of buttons for form functionality -->
                        <div class="col-md-2" id="propertyButtons">
                            <div class="row" id="addButton">
                                <button type="submit" class="btn btn-success center-block" id="add">Add  </button>
                            </div>
                            <div class="row" id="deleteButton">
                                <a type="button" class="btn btn-danger center-block" id="deletePropertyLink" >Delete</a>
                            </div>
                        </div>
                    </div>
                     
                    <!-- Property Details-->
                    <div class="row"  th:if="${#fields.hasAnyErrors()}">
                        <div class="col-md-3">
                            <p th:class="red">There was a problem with form input</p>
                        </div>
                    </div>
                    <div class="row" id="nameFields">
                        <div class="col-md-3">
                            <strong>Description </strong><input th:field="*{description}" type="text" id="description"/>
                            <input type="hidden" name="incidentNum" th:value="${incidentID}" id="incidentNum" />  
                            <input type="hidden" id="propertyId" th:field='*{propertyId}' />
                        </div>
                        <div class="col-md-3">
                            <strong>Quantity </strong><input th:field="*{quantity}" type="text" id="quantity" />
                        </div>
                        <div class="col-md-3">
                            <strong>Measurement </strong><input th:field="*{measurement}" type="text" id="measurement" />
                        </div>
                        <div class="col-md-3">
                            <strong>Seized by </strong><input th:field="*{seizedBy}" type="text" id="seizedBy" />
                        </div>
                        <div class="col-md-3">
                            <strong>Badge Number </strong><input th:field="*{badgeNum}" type="text" id="badgeNum" />
                        </div> 
                        <div class="col-md-3">
                            <strong>Storage Location </strong><input th:field="*{storageLocation}" type="text" id="storageLocation" />
                        </div>                        
                        <div class="col-md-3">
                            <strong>Owner </strong><br /><input th:field="*{owner}" type="text" id="owner" />
                        </div>  
                        <div class="col-md-3">
                            <strong>Time Seized </strong><input th:field="*{timeSeized}" type="text" id="timeBox"/>
                        </div>
                        <div class="col-md-3">
                            <strong>Date Seized(yyyy-mm-dd) </strong><input th:field="*{dateSeized}"  type="date" id="dateSeized"/>
                        </div>             
                        
                        <div class="col-md-3">
                            <strong>Entry Date (yyyy-mm-dd)</strong><input th:field="*{entryDate}" type="date" id="entryDate" />
                        </div> 
                    </div>                             
                 
                </div>             
            </form>
            <!-- Footer -->
            <div class="container">
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </body>
    </html>
</html>
