<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
        <head th:replace="fragments/headTag :: headTag">
        </head>
        <body>
            <div class="container navbar" >
                <div th:include="fragments/bodyHeader" th:remove="tag">
                </div>
            </div>
            <form id="vehicleForm" th:object="${vehicle}" th:action="@{/vehicle/add}" method="post" >
                <div class="container-fluid">
                    <div id="topContent">
                        <div>
                            <h2 class="text-center" th:text="'Incident Number: ' + ${incidentID}"></h2>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-1 col-md-5" id="vehicleTableDiv">
                                <table class="table table-striped">
                                    <th>VIN</th>
                                    <th>Province</th>
                                    <th>Year</th>
                                    <th>Make</th>
                                    <tr th:if="${#lists.isEmpty(vehicles)}">                                  
                                        <td><strong><em>There are no vehicles added to the incident</em></strong></td>
                                    </tr>
                                    <tr data-href="javascript:void(0);" th:each="vehicle : ${vehicles}" class="vehicleRow">                
                                        <td th:text="${vehicle.vinNum}">Joe</td>
                                        <td th:text="${vehicle.province}"></td>
                                        <td th:text="${vehicle.year}"></td>
                                        <td th:text="${vehicle.make}"></td>
                                        <td style="display:none;" th:text="${vehicle.vinNum}" th:id="vehicleIdRow"></td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-1" id="buttonDiv">
                                <div class="row" id="addButton">
                                    <button class="btn btn-success center-block" id="add"> + Add New Vehicle</button>
                                </div>
                                <div class="row" id="delButton">
                                    <a class="btn btn-danger center-block" id="deleteVehicleLink">- Delete</a>
                                </div>
                            </div>
                            <div class="col-md-offset-1 col-md-4">
                                <div class="stripped">
                                    Stripped/Burned <input th:field="*{destroyed}" type="checkbox" name="strippedBurned" value="true" id="destroyedBox" th:errorclass="fieldError"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="contentBlock">
                    <div class="row"  th:if="${#fields.hasAnyErrors()}">
                        <div class="col-md-3 col-md-offset-1">
                            <p th:class="red">There was a problem with form input</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div>
                                <input type="hidden" name="incidentNum" th:value="${incidentID}" id="incidentNum" />  
                                <strong>License #: </strong><input th:field="*{licensePlate}" type="text" name="license" th:errorclass="fieldError"/>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <strong>Prov. :</strong>
                            <select th:field="*{province}">
                                <option th:value="PE">PE</option>
                                <option th:value="NB">NB</option>
                                <option th:value="NS">NS</option>
                                <option th:value="QC">QC</option>
                                <option th:value="ON">ON</option>
                                <option th:value="MB">MB</option>
                                <option th:value="SK">SK</option>
                                <option th:value="AL">AL</option>
                                <option th:value="BC">BC</option>
                                <option th:value="NL">NL</option>
                                <option th:value="NT">NT</option>
                                <option th:value="NU">NU</option>
                                <option th:value="YT">YT</option>
                            </select>
                        </div>
                        <div class="col-md-2">
                            <strong>Tag: </strong><input th:field="*{tagRegistration}" type="text" id="tag" placeholder="1212" th:errorclass="fieldError"/>
                        </div>
                        <div class="col-md-2">
                            <strong>Year :</strong>
                            <select th:field="*{year}">
                                <option th:each="i : ${#numbers.sequence( -1, 60)}"
                                        th:value="${(new org.joda.time.DateTime()).getYear() - i }"
                                        th:text="${(new org.joda.time.DateTime()).getYear() - i }">1</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div id="vin" class="col-md-5" >
                            <strong>VIN #: </strong><input th:field="*{vinNum}" type="text" name="vin" th:errorclass="fieldError"/>
                        </div>
                        <div class="col-md-offset-1 col-md-2">
                            <strong>Type :</strong>
                            <select th:field="*{type}">
                                <option th:value="Car">Car</option>
                                <option th:value="Truck">Truck</option>
                                <option th:value="Van">Van</option>
                                <option th:value="Motorcycle">Motorcycle</option>
                                <option th:value="SUV">SUV</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div id = "make" class="col-md-2">
                            <strong>Make:</strong>
                            <select th:field="*{make}">
                                <option th:value="Toyota">Toyota</option>
                                <option th:value="Honda">Honda</option>
                                <option th:value="Dodge">Dodge</option>
                                <option th:value="VW">VW</option>
                                <option th:value="Ford">Ford</option>
                                <option th:value="BMW">BMW</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <strong>Model: </strong><input th:field="*{model}" type="text" name="model" th:errorclass="fieldError"/>
                        </div>
                        <div class="col-md-2">
                            <strong>Style:</strong>
                            <select th:field="*{style}">
                                <option th:value="Sedan">Sedan</option>
                                <option th:value="Coupe">Coupe</option>
                                <option th:value="Wagon">Wagon</option>
                            </select>
                        </div>
                        <div class="col-md-4">
                            <strong>Color:</strong>
                            <select th:field="*{primeColor}">
                                <option th:each="color: ${colors}" 
                                        th:value="${color.englishDescription}" 
                                        th:text="${color.englishDescription}">test</option>
                            </select>
                            <select th:field="*{secondColor}">
                                <option th:each="color: ${colors}" 
                                        th:value="${color.englishDescription}" 
                                        th:text="${color.englishDescription}">test</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div id="comment" class="col-md-6" >
                            <strong>Comment: </strong><input th:field="*{comment}" id="commentBox" type="text" th:errorclass="fieldError" />
                        </div>
                    </div>
                </div>
                <div class="contentBlock">
                    <div class="row">
                        <div class="col-md-4" >
                            <strong>Reg. Owner: </strong><input th:field="*{regOwner}" type="text" name="owner" th:errorclass="fieldError"/> 
                        </div>
                        <div class="col-md-2">
                            <div id="towed">
                                <strong>Vehicle Towed:</strong><input th:field="*{isTowed}" type="checkbox" name="towed" value="true" id="towedBox" />
                            </div>
                        </div>
                        <div class="col-md-4" >
                            <strong>Location: </strong><input th:field="*{locationTowed}" type="text" name="location" th:errorclass="fieldError"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="leftSideButton" id="stolen">
                                <strong>Stolen:</strong><input th:field="*{stolen}" type="checkbox" name="stolen" value="true" id="stolenBox"/>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dateSelect">
                                <strong>Date: </strong><input th:field="*{timeReported}" type="date" class="small" />
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div id="recovered">
                                <div class="dateSelect">
                                    <strong>Recovered:</strong><input th:field="*{recovered}" type="checkbox" name="stolen" value="true" id="recoveredBox"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dateSelect">
                                <strong>Date: </strong><input th:field="*{dateRecovered}" type="date" class="small" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="leftSideButton" id="stored">
                                <strong>Stored:</strong><input th:field="*{stored}" type="checkbox" name="stored" value="true" id="storedBox" />
                            </div>
                        </div>
                        <div class=" col-md-2">
                            <div id="impounded">
                                <strong>Impounded:</strong><input th:field="*{impounded}" type="checkbox" name="impounded" value="true" id="impoundedBox" />
                            </div>
                        </div>
                        <div class=" col-md-2">
                            <div id="leftAtScene">
                                <strong>Left at scene:</strong><input th:field="*{leftAtScene}" type="checkbox" name="leftAtScene" value="true" id="leftAtSceneBox" />
                            </div>
                        </div>
                        <div class=" col-md-3">
                            <div id="released">
                                <strong>Released at scene:</strong><input th:field="*{released}" type="checkbox" name="released" value="true" id="releasedBox"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dateSelect">
                                <strong>Store Date: </strong><input th:field="*{dateImpounded}" type="date" class="small"/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-offset-5 col-md-3">
                            <input type="submit" class="btn" th:value="Save" id="saveButton"/>
                        </div>
                    </div>
                </div>
            </form>
            <div class="container">
                <div th:include="fragments/footer" th:remove="tag">
                </div>
            </div>
        </body>
    </html>
</html>
